.container {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    display: grid;
    // box-sizing: border-box;
    justify-content: center;
    align-content: center;
  }
  
  .confirm{
    box-shadow: 0px 3px 20px #0000001A;
    width: 350px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    // align-items: center;
    @include responsive(phone) {
        min-width: 350px; // 1rem = 9px ; 9px/16px = 52.25%
    }
    &__email{
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        // display: grid;
        // grid-template-columns: 1fr 30px 30px;
        // column-gap: 10px;
        // margin: 15px 0;
        // align-items: center;
        // &--text{
        //     font-size: 14px;
        //     font-weight: 700;
        // }
        // &--icons{
        //     .icon{
        //         margin-right: 20px;
        //     }
        // }
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

    }
    &__btn{
        display: flex;
        justify-content: center;
       
        &--link{
            background-color: #0C2D40;
            padding: 8px 20px;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin: 10px 0 0;
        }
    }
    &__paragraph{
        text-align: center;
        font-size: 11px;
    }
  }

//   @keyframes ldio-rpinwye8j0b {
//     0% { transform: rotate(0deg) }
//     50% { transform: rotate(180deg) }
//     100% { transform: rotate(360deg) }
//   }
//   .ldio-rpinwye8j0b div {
//     position: absolute;
//     animation: ldio-rpinwye8j0b 1s linear infinite;
//     width: 160px;
//     height: 160px;
//     top: 20px;
//     left: 20px;
//     border-radius: 50%;
//     box-shadow: 0 4px 0 0 #e15b64;
//     transform-origin: 80px 82px;
//   }
//   .loadingio-eclipse {
//     width: 200px;
//     height: 200px;
//     display: inline-block;
//     overflow: hidden;
//   }
//   .ldio-rpinwye8j0b {
//     width: 100%;
//     height: 100%;
//     position: relative;
//     transform: translateZ(0) scale(1);
//     backface-visibility: hidden;
//     transform-origin: 0 0; /* see note above */
//   }
//   .ldio-rpinwye8j0b div { box-sizing: content-box; }