

  .pro-header {
    // display: flex;
    // justify-content: space-between;
    margin: 20px;
    padding: 20px;
    // height: 250px;
    background-color: #fff;
    color: slategray;
    &__image{
        width: 100%;
        // max-width: 400px;
        // height: auto;
        max-height: 400px;
    }
  }
  .selectFloor {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 0;
  }

  .pro-address {
    display: grid;
    // justify-content: space-between;
    grid-template-columns: 40px 1fr;
    // justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    // height: 250px;
    background-color: #fff;
    color: slategray;
    &__icon{
        &--location{
            font-size: 30px;
            font-weight: 900; 
        }
    }
  }
  
.units{
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    color: slategray;
    &__text{
      &--heading{
        font-size: 22px;
        font-weight: bold;
        margin: 10px 0 30px;
      }
    }
    &__keys{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 10px;
      &--dots{
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
    &__boxs{
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
        grid-auto-rows: auto;
        grid-auto-columns: -webkit-max-content;
        grid-auto-columns: max-content;
        grid-template-columns: repeat(auto-fill,minmax(80px,1fr));
        // grid-template-columns:repeat(4, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;

      
        // grid-auto-rows: 150px;
      
        // border-radius: 3px;
        // grid-gap: 20px;
        &--box{
          min-height: 64px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          border-radius: 6px;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
          border: 2px solid transparent;
          cursor: pointer;
          // cursor: pointer;
          // border-radius: 10px;
          // box-shadow: 0px 3px 20px #0000001A;
          // padding: 10px 20px;
          &:hover {
            transform: scale(1.05, 1.05)
          }
          &::after {
            content: '';
            position: absolute;
            border-radius: inherit;
            z-index: -1;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            opacity: 0;
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
          }
          &:hover::after {
            opacity: 1;
          }
        }
      //   @include responsive(tab-port) {
      //     grid-template-columns:repeat(3, 1fr);
      //     margin: 10px;

      // }
      //     @include responsive(phone) {
      //       grid-template-columns:repeat(2, 1fr);
      //       &--box{
      //         padding: 10px 10px;
      //       }
      // }

}
}
.unit_text{
  display: grid;
  grid-template-columns: 46px 1fr;
  grid-auto-rows: 20px;
  column-gap: 5px;
  align-items: center;
  &__title{
    font-size: 14px;
    // color: #fff;
  }
  &__value{
    font-size: 12px;
    // color: #fff;
    &--status{
      display: flex;
      column-gap: 10px;
      font-size: 12px;

    }
  }

  @include responsive(tab-port) {
    column-gap: 2px;
    &__title{
      font-size: 12px;
      // color: #fff;
    }
    &__value{
      font-size: 10px;
      // color: #fff;
      &--status{
        font-size: 10px;
      }
    }

}
    @include responsive(phone) {
      font-size: 16px;
     
}
}

.num{
  font-size: 20px;
  // color: #fff;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  @include responsive(tab-port) {
    font-size: 16px;
}
//     @include responsive(phone) {
//       font-size: 16px;
     
// }
}

//   .main-overview {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
//     grid-auto-rows: 94px;
//     grid-gap: 20px;
//     margin: 20px;
//   }

//   .overviewcard {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 20px;
//     background-color: #fff;
//   }

//   .main-cards {
//     column-count: 1;
//     column-gap: 20px;
//     margin: 20px;
//   }

//   .card {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 100%;
//     background-color: #fff;
//     margin-bottom: 20px;
//     -webkit-column-break-inside: avoid;
//     padding: 24px;
//     box-sizing: border-box;
//   }

//   /* Force varying heights to simulate dynamic content */
//   .card:first-child {
//     height: 485px;
//   }

//   .card:nth-child(2) {
//     height: 200px;
//   }

//   .card:nth-child(3) {
//     height: 265px;
//   }

 
    
//           /* Medium screens breakpoint (1050px) */
//           @media only screen and (min-width: 65.625em) {
//             /* Break out main cards into two columns */
//             .main-cards {
//               column-count: 2;
//             }
//           }