      /* Give every child element its grid name */
      .header {
        position: sticky;
        top: 0;
        grid-area: header;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        background-color: #fff;
        z-index: 1;
        &__avatar{
          background-color: #ccc;
          vertical-align: middle;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          cursor: pointer;
        }
      }

      .header__search {
        margin-left: 42px;
      }