.menu-icon {
    position: fixed; /* Needs to stay visible for all mobile scrolling */
    display: flex;
    top: 5px;
    left: 10px;
    align-items: center;
    border: none;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    padding: 12px;
  }

  .main {
    grid-area: main;
    background-color: #f1f1f1;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: #fff;
    color: slategray;
  }

  .main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 94px;
    grid-gap: 20px;
    margin: 20px;
  }

  .overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
  }

  .main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
  }

  /* Force varying heights to simulate dynamic content */
  .card:first-child {
    height: 485px;
  }

  .card:nth-child(2) {
    height: 200px;
  }

  .card:nth-child(3) {
    height: 265px;
  }

 
    
          /* Medium screens breakpoint (1050px) */
          @media only screen and (min-width: 65.625em) {
            /* Break out main cards into two columns */
            .main-cards {
              column-count: 2;
            }
          }