.container {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    display: grid;
    // box-sizing: border-box;
    justify-content: center;
    align-content: center;
  }
  
  .password {
    box-shadow: 0px 3px 20px #0000001A;
    min-width: 350px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    @include responsive(phone) {
        min-width: 350px; // 1rem = 9px ; 9px/16px = 52.25%
    }
    &__title{
        width: 100%;
        margin: 10px 0;
        &--heading{
            font-size: 20px;
            font-weight: bold;
            color: #CCCCCC;
        }
    }
    &__input{
        width: 100%;
        display: flex;
        flex-direction: column;
       
            &--item-a{
                margin: 10px 0 !important;
            }
            
        @include responsive(phone) {
            grid-template-columns: repeat(1, 1fr);
            &--item-b{
                grid-column: 1/3
            }
        }
    }
  }