.myreservation{
    margin: 20px;
    &__title{
        // background-color: #fff;
        // padding-left: 20px;
        // border-radius: 3px;
        font-size: 20px;
        color: #CC5418;
        font-weight: 700;
    }

    &__cardContainer{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-auto-rows: 220px;
        grid-gap: 20px;
        align-items: center;
        margin-top: 20px;
    
        @include responsive(tab-port) {
          grid-template-columns:repeat(2, 1fr);
       
      }
            @include responsive(phone) {
            grid-template-columns:repeat(1, 1fr);
    
        }

    }

}

.reservationCard{    
    padding: 20px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 6px 20px rgb(204, 85, 25, 0.17);
    &__header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    row-gap: 10px;
    column-gap: 15px;
}
.end{
    justify-self:  flex-end;
}
.myreservedbutton{
    grid-column: 2 / -1;   
}