
  .property-overview {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows: 220px;
    grid-gap: 20px;
    align-items: center;
    margin: 20px;

    @include responsive(tab-port) {
      grid-template-columns:repeat(2, 1fr);
      margin: 10px;
  }
    	@include responsive(phone) {
        grid-template-columns:repeat(1, 1fr);
        margin: 10px;
    }
  }

  .propertycard {
    // display: flex;
    // // align-items: center;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 5rem 1fr;
    justify-content: center;
    row-gap: 10px;
    padding: 20px;
    border-radius: 3px;
    background-color: #fff;
    &__icon{
      &--units{
        font-size: 14px;
        font-weight: 600;
      }
    }
    &__details{
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: space-between;
      &--dots{
        display: flex;
        flex-direction: row;
      }
    }
    &__button{
      grid-column: 2/ -1;
      margin-top: 5px;
      justify-self:  flex-end;
      &--btn{
        background: #0b2d40;
        color: #ffff;
        padding: 6px 20px;
        border-radius: 3px;
        text-decoration: none;
      }
    }
  }
  .global-class-name{
    width: 25px;
    height: 25px;
   
  }
  .dot{
    margin-right: 2px;
    
  }
  // .main-cards {
  //   column-count: 1;
  //   column-gap: 20px;
  //   margin: 20px;
  // }



.add-property{
  min-height: 40px;
  position: fixed;
  right: 10px;
  width: 40px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 2px solid transparent;
  // cursor: pointer;
  // border-radius: 10px;
  // box-shadow: 0px 3px 20px #0000001A;
  // padding: 10px 20px;
  &:hover {
    transform: scale(1.05, 1.05)
  }
  &::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    z-index: -1;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:hover::after {
    opacity: 1;
  }
}

.add-units{
  min-height: 30px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 2px solid transparent;
  // cursor: pointer;
  // border-radius: 10px;
  // box-shadow: 0px 3px 20px #0000001A;
  // padding: 10px 20px;
  &:hover {
    transform: scale(1.05, 1.05)
  }
  &::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    z-index: -1;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:hover::after {
    opacity: 1;
  }

}



.add-image{
  min-height: 40px;
  width: 40px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 2px solid transparent;
  // cursor: pointer;
  // border-radius: 10px;
  // box-shadow: 0px 3px 20px #0000001A;
  // padding: 10px 20px;
  &:hover {
    transform: scale(1.05, 1.05)
  }
  &::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    z-index: -1;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:hover::after {
    opacity: 1;
  }
}
//  add property inputs

.property-input{
  display: flex;
  flex-direction: column;
  margin: 40px 30px 10px;
  row-gap: 10px;
 &__btn{
  //  justify-self: end;
  display: flex;
  flex-direction: column;
 }
}

.add-properties{
  min-height: 30px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #0b2d40;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 2px solid transparent;
  // cursor: pointer;
  // border-radius: 10px;
  // box-shadow: 0px 3px 20px #0000001A;
  // padding: 10px 20px;
  &:hover {
    transform: scale(1.05, 1.05)
  }
  &::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    z-index: -1;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:hover::after {
    opacity: 1;
  }

}