.property-overview {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 220px;
  grid-gap: 20px;
  align-items: center;
  margin: 20px;

  @include responsive(tab-port) {
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
  }
  @include responsive(phone) {
    grid-template-columns: repeat(1, 1fr);
    margin: 10px;
  }
}
.keys {
  display: flex;
  margin: 2rem;
  &__item {
    display: flex;
    margin-right: 2rem;
  }
}
// .propertycard {
//   box-shadow: 0 6px 20px rgb(204, 85, 25, 0.17);
//   // display: grid;
//   // grid-template-columns: 5rem 1fr;
//   justify-content: center;
//   align-items: center;
//   row-gap: 10px;
//   padding: 20px;
//   border-radius: 5px;
//   background-color: #fff;
//   &__icon {
//     &--units {
//       font-size: 14px;
//       font-weight: 600;
//     }
//   }
//   &__info {
//     font-size: 1.5rem;
//     font-weight: 900;
//     display: flex;
//     justify-content: space-between;
//   }
//   &__details {
//     grid-column: 1 / -1;
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     align-items: space-between;
//     &--dots {
//       display: flex;
//       flex-direction: row;
//     }
//   }
//   &__button {
//     grid-column: 2/ -1;
//     margin-top: 5px;
//     justify-self: flex-end;
//     &--btn {
//       background: #cc5518;
//       color: #ffff;
//       padding: 6px 20px;
//       border-radius: 3px;
//       text-decoration: none;
//     }
//   }
// }

.propertycard {
  box-shadow: 0 6px 20px rgb(204, 85, 25, 0.17);
  background-color: #fff;
  border-radius: 5px;
  &__header {
    display: flex;
    background-color: #cc5518;
    justify-content: space-between;
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
  }
  &__detail {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  &__info {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__counts {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    &--header {
      font-size: 1.5rem;
      font-weight: 700;
      margin-right: 1rem;
    }
    &--text {
      font-size: 1.5rem;
    }
  }
  &__address {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    &--header {
      font-size: 1.5rem;
      font-weight: 700;
      margin-right: 1rem;
    }
    &--text {
      font-size: 1.5rem;
    }
  }
  &__button {
    display: flex;
    flex-direction: row-reverse;
    // height: 35px;
    // display: flex;
    // cursor: pointer;
    // align-items: center;
    // justify-content: center;
    // background-color: #cc5418;
    // border-radius: 0.5rem;
    // color: #ffffff;
    // // border: 1px solid #cc5418;
    // box-shadow: 0 3px 6px 0 rgb(0 0 0 / 18%), 0 4px 8px 0 rgb(0 0 0 / 15%);
    // padding: 0.5rem 1rem 0.5rem 0.7rem;
    // &:hover{
    //   background-color: rgba(204, 84, 24, 0.86);
    // }
    &--btn {
      background: #cc5518;
      color: #ffff;
      height: 35px;
      display: flex;
      box-shadow: 0 3px 6px 0 rgb(0 0 0 / 18%), 0 4px 8px 0 rgb(0 0 0 / 15%);
      cursor: pointer;
      align-items: center;
      justify-content: center;
      padding: 6px 20px;
      border-radius: 3px;
      text-decoration: none;
      &:hover {
        background-color: rgba(204, 84, 24, 0.86);
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
      }
    }
  }
  &__keysCon {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    &--dots {
      display: flex;
      align-items: center;
      &--text {
        font-size: 2rem;
      }
    }
  }
}

.global-class-name {
  width: 2rem;
  height: 2rem;
}
.dot {
  margin-right: 2px;
}
// .main-cards {
//   column-count: 1;
//   column-gap: 20px;
//   margin: 20px;
// }

.add-property {
  min-height: 40px;
  position: fixed;
  right: 10px;
  width: 40px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 2px solid transparent;
  // cursor: pointer;
  // border-radius: 10px;
  // box-shadow: 0px 3px 20px #0000001A;
  // padding: 10px 20px;
  &:hover {
    transform: scale(1.05, 1.05);
  }
  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    z-index: -1;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:hover::after {
    opacity: 1;
  }
}

.add-units {
  min-height: 30px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 2px solid transparent;
  // cursor: pointer;
  // border-radius: 10px;
  // box-shadow: 0px 3px 20px #0000001A;
  // padding: 10px 20px;
  &:hover {
    transform: scale(1.05, 1.05);
  }
  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    z-index: -1;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:hover::after {
    opacity: 1;
  }
}

.add-image {
  min-height: 40px;
  width: 40px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 2px solid transparent;
  // cursor: pointer;
  // border-radius: 10px;
  // box-shadow: 0px 3px 20px #0000001A;
  // padding: 10px 20px;
  &:hover {
    transform: scale(1.05, 1.05);
  }
  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    z-index: -1;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:hover::after {
    opacity: 1;
  }
}
//  add property inputs

.property-input {
  display: flex;
  flex-direction: column;
  margin: 40px 30px 10px;
  row-gap: 10px;
  &__btn {
    //  justify-self: end;
    display: flex;
    flex-direction: column;
  }
}

.add-properties {
  min-height: 30px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #0b2d40;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 2px solid transparent;
  // cursor: pointer;
  // border-radius: 10px;
  // box-shadow: 0px 3px 20px #0000001A;
  // padding: 10px 20px;
  &:hover {
    transform: scale(1.05, 1.05);
  }
  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    z-index: -1;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:hover::after {
    opacity: 1;
  }
}

.props {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem 0 0;
  @include responsive(phone) {
    & .axz {
      display: none;
    }
  }
}
.global-class-home {
  height: 40px;
  width: 40px;
}
.dot-size {
  width: 20px;
  height: 20px;
}
