$color-primary: #fff;
$color-secondry: #ccc;
$font-primary: #42494f;

// Existing variables and their defaults
// $nice-dates-color-gray-dark: #333;
// $nice-dates-color-gray: #999;
// $nice-dates-color-gray-light: #ddd;
// $nice-dates-color-accent: $nice-dates-color-gray-dark;
// $nice-dates-font-size-small: 12px;
// $nice-dates-font-size-base: 14px;
// $nice-dates-font-size-big: 16px;