.table-container {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 6px 20px rgb(204, 85, 25, 0.17);
  border-radius: 5px;
}

@include responsive(tab-port) {
    .table-container {
        width: 90vw;
    }
}
  .overflow {
    overflow-x: auto;

  }
.table {
  width: 100%;
  margin-top: 2rem;
}
.tableHead,
.tablebody {
  border-bottom: 1px solid #eeeeee;

  &__cell {
    padding: 20px;
    text-align: left;
    white-space: nowrap;
    font-size: 14px;
  }
}
.tableHead {
  font-weight: 700;
  background: #F5F5F5;
}
.pagination-container{
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}
.pagination{
    display: flex;
    align-items: center;
}

.emptyData{
  display: flex;
  justify-content: center;
  align-content: center;

}

.emptyD{
  display: grid;
  align-content: center;
  justify-content: center;
  height: 80vh;

}